/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 21, 2017, 10:33:45 AM
    Author     : root
*/
.navbar {
    box-shadow: 0px 0px 10px 1px #ddd;
}
#carousel-653700{
    box-shadow: 0px 0px 10px 1px #ddd;
}
#carousel_detail > div > .right {
    left: auto;
    right: 0;
    background-image:none;
}
#carousel_detail > div > .left {
    left: 0;
    right: auto;
    background-image:none;
}
#carousel_detail > #carousel-653700 {
    box-shadow: none;
}
#carousel_detail > div > .carousel-control {
    color: #606060;
    font-size: 45px;
}
#carousel_detail > div > .carousel-indicators{
    left: 30%;
    width: 100%;
    bottom: 0px;
}
#carousel_detail > div > .carousel-indicators li{
    border-radius: 0px;
    border: 1px solid #ccc;
    background: none;
    height: 40px;
    width: 40px;
    opacity: 0.7;
}
#carousel_detail > div > .carousel-indicators .active {
    border-radius: 0px;
    border: 1px solid #ccc;
    background: none;
    height: 45px;
    width: 45px;
    opacity: 1;
}
#carousel_doran>div>a.right,
#carousel_doran>div>a.left{
    background-image: none;
}


.thumbnail{
    box-shadow: 0px 0px 5px 1px #ddd;
}
.thumbnail-search{
    min-height: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.thumbnail > img, .thumbnail a > img {
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
}
.thumbnail-front{
    min-height: 325px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
}

.thumbnail-front>img{
    width: 200px;
    height: 200px;
}

.thumbnail-front:hover{
    box-shadow: 0px 0px 10px 5px #ddd;
}
.thumbnail-front > .caption >span{
    font-size: 15px;
}

td >.thumbnail-front-ancor{
    text-decoration: none;
    color:#777777;
}
.thumbnail-detil{
    min-height: 300px;
}
.thumbnail .caption{
    color: #606060;
}
.thumbnail:hover{
    box-shadow: 0px 0px 10px 5px #ddd;
}
.thumbnail .caption .divider {
    width:100%;margin-top: 5px;margin-bottom:5px;border-top: 1px solid #ddd;
}
.navbar-right{
    padding-right: 20px;
}
.navbar-brand{
    padding: 3px 15px;
}
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus{
    background-color: #337ab7;
    color:#fff
}

body{
    color: #606060;
}
.img-brand{
    padding-top: 2px;
}
.img-brand:hover{
    box-shadow: 0px 0px 5px 3px #ddd;
}

.img-detail-galeries-container{
    height: 60px;
    width: 60px;
    border: 1px solid #ddd;
    display: inline-table;
}
.img-detail-galeries{
    max-width: 40px;
    max-height: 40px;
    min-height: 40px;
    min-width: 40px;
}
.img-detail-galeries:hover{
    cursor: pointer;
    border:1px solid #337ab7;
}
.img-detail-galeries.active{
    max-width: 60px;
    max-height: 60px;
    border:1px solid #337ab7;
}
.img-detail-galeries.active:hover{
    cursor: default;
}
#img-detail-main{
    cursor: zoom-in;
    max-height: 300px;
    max-width: 300px;
}

#detail-image-zoom{
    z-index: 9996;
    position: fixed;
    top: 2.5%;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: center;
    background: none;
}
#detail-image-zoom>img{
    max-width: 90%;
    max-height: 90%;
    background-color: #fff;
}

.zoomer-container{
    position: fixed;
    width: 500px;
    height: 500px;
    top:70px;
    left: 550px;
    border: 1px solid black;
    overflow: hidden;
    background-color: #fff;
}

.url_map{
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 20px;
}
.url_map > i {
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
}
.url_map > a {
    text-decoration: none;
}

.panel-title{
    color: #606060;
    font-weight: bold;
}
.panel-default{
    box-shadow: 0px 0px 5px 1px #ddd;
}
.panel-default > .panel-heading{
    background-color: #fff;
    color: #606060;
}
.panel-body > span{
    color: #8f8f8f;
}

.nav-btn-menu{
    background-color: #f8f8f8;
}
.nav-btn-menu:hover,
.nav-btn-menu:active{
    background-color: #337ab7;
    color: #fff;
    border-color: #fff;
}
#fixed-menu-close-button{
    z-index: 9999;
    /* padding: 10px 30px 10px 10px ;*/

    background-color: #fff;
    text-align: right;
    overflow-y: auto;
}
#fixed-menu-close{
    border-radius: 50px;
    position: absolute;
    top:-15px;
    right: -15px;
    z-index: 9999;
    background-color: #333333;
    color: #fff;
}
div.fixed-menu {
    z-index: 9999;
    /* padding: 10px 30px 10px 10px ;*/
    position: fixed;
    top: 41px;
    width: 36%;
    height: 93%;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.5);
}
#fixed-menu-show{
    margin-top: 8px;

}
#black_shadow{
    z-index: 9995;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}
.triangle-up {
    z-index: 9999;
    position: fixed;
    top: 39px;
    left: 225px;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #fff;
}
.triangle-up2 {
    z-index: 9998;
    position: fixed;
    top: 36px;
    left: 223px;
    width: 0;
    height: 0;
    border-left: 27px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #ddd;
}
a.list-group-item.noborder {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus{
    text-decoration: none;
    color: #ffff;
    background-color: #337ab7
}

.fixed-button-left{
    color: #333333;
    font-size: 35px; 
    position: absolute;
    top: 150px;
    left: 35px;
    opacity: 0.5;
    border: none;
    background-color: transparent;
}
.fixed-button-left:hover,
.fixed-button-left:active{
    opacity: 0.7;
    border: none;
    background-color: transparent;
}
.fixed-button-right{
    color: #333333;
    font-size: 35px; 
    position: absolute;
    top: 150px;
    right: 35px;
    opacity: 0.5;
    border: none;
    background-color: transparent;
}
.fixed-button-right:hover,
.fixed-button-right:active{
    opacity: 0.7;
    border: none;
    background-color: transparent;
}
span.harga{
    color: #f7931e;
    font-weight: 700;
    text-shadow: 0 0 0.4px #ddd;
    opacity: 0.9;
    font-size: 15px;

}
.daftar_belanja_textarea{
    max-width: 245px;
    min-width: 240px;
    height: 100px;
    max-height: 150px;
    min-height:140px ;
    overflow: auto;
}
.profile_image_input{
    position: absolute;
    opacity: 0;
    top:0px;
    width:200px;
    height: 200px;
    z-index: 99;
}
.profile_image_plus{
    position: absolute;
    opacity: 0.8;
    top:0px;
    width:200px;
    height: 200px;
    z-index: 88;
    padding-top: 90px;
    color: #fff;
}


.main-footer{
    padding-top: 22px;
    border-top: 1px solid #dddd;
    background-color: #464646;
    color: #ddd;
}
.main-footer .anchor-foot{
    color: #ddd;
    text-decoration: none;
}

.main-footer .btn-lg { 
    font-size: 22px;
    background: none;
    border-radius: 50px;
    border:2px solid #ddd;
    color: #ddd;
}
a.sosmed{
    text-decoration: none;
    padding: 5px 5px 9px 5px;
    color:#606060;
}

a.sosmed>img{
    background-color: #606060;
}
a.sosmed>img:hover{

}

a.sosmed:hover{
    color:#808080;
}

.sosmed>i{
    width: 10px;
    height: 18px;
}

a.sos-inst{
    background-color: #c8369e;
    color: #fff;
}
a.sos-fb{
    background-color: #337ab7;
    color: #fff;
}
a.twit{
    background-color: #337ab7;
    color: #fff;
}
a.yutub{
    background-color: #f00;
    color: #fff;
}
a.pinteres{
    background-color:#cd2129 ;
    color: #fff;
}
/*--------------------------------*/
a.sos-inst:active,
a.sos-inst:focus,
a.sos-inst:hover{
    background-color: #c8369e;
    color: #fff;
}
a.sos-fb:active,
a.sos-fb:focus,
a.sos-fb:hover{
    background-color: #337ab7;
    color: #fff;
}
a.twit:active,
a.twit:focus,
a.twit:hover{
    background-color: #337ab7;
    color: #fff;
}
a.yutub:active,
a.yutub:focus,
a.yutub:hover{
    background-color: #f00;
    color: #fff;
}
a.pinteres:active,
a.pinteres:focus,
a.pinteres:hover{
    background-color:#cd2129 ;
    color: #fff;
}



.main-footer .anchor-foot:hover{
    color:#f5f5f5;
}

.footer-end{
    padding-top: 15px;
    background-color: #fff;
}
.middle-footer{
    background-color: #ddd;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-right: 40px;
}
.top-footer{
    background-color: #ddd;
    padding-top: 10px;
    padding-bottom: 20px;
}


ul.footer-middle-head{
    list-style-type:none;font-weight: bold;
    margin-bottom: 25px;
    font-size: 16px;


}
ul.footer-list{

}
ul.footer-list>li{
    list-style-type:none;
    margin-bottom: 8px;
}
ul.footer-list>li>a{
    /*text-decoration: none;*/
    color: #606060;
}

.btn-default{
    color:#606060;
}
.dropdown-menu > li > a{
    color:#606060;
    height: 40px;
    padding-top: 10px;
}

.dropdown-menu > li > a:hover{
    color:#fff;
    background-color: #337ab7;
}
.img-footer-content{
    width: 200px;float: left;-webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
    flex: 1;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 0px;
    border:1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 5px 2px #ddd;
}
.img-footer-content>p{
    color: #606060;
    text-align: center;
    margin-top: 4px;
}
.img-footer-content>img{
    width: 100%;
}
.upload-doc-input{
    z-index: 99;
    position: absolute;
    height: 100px;
    opacity: 0;
    width: 100%;
}
.upload-doc-fake-button{
    z-index: 98;
    top:0px;
    left: 1%;
    position: absolute;
    border:1px solid;
    height: 100px;
    width: 98%;
    text-align: center;
    padding-top: 5px;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}
.upload-doc-fake-button-active{
    background-color: #286090;
    border-color: #204d74;
}
.class-box-baner{
    width:300px;
    height: 300px;
    float: left;
    border: 1px solid #ddd;
    margin:20px 20px 20px 20px;
}

.footer-list-postel{
    max-height: 210px;
    min-height: 210px;
    text-align: center;
    padding-top: 10px;
    background-color: #fff;
/*    box-shadow: 0px 0px 5px 1px #ddd;*/
    margin-right: 10px;
    margin-bottom: 20px
}

.footer-list-postel:hover{
     box-shadow: 0px 0px 5px 1px #ddd;
}

.footer-list-postel2{
    max-height: 400px;
    min-height: 400px;
    text-align: center;
    padding-top: 10px;
    background-color: #fff;
    margin-right: 10px;
    margin-bottom: 20px;
    display: inline-table;
    float: none;
}
.footer-list-postel2>img{
    max-height: 350px;
    max-width: 100%;
}