h1, h2, h3, h4, h5, h6{
	color:#2f3640;
}

.section-tittle h3{
	color: #2f3640;
}
.header-area .header-bottom {
	background: #0a68a1;
	color: #ecf0f1;
	border-top: none;
}

.header-sticky.sticky-bar.sticky .sticky-logo {
	max-width: 200px;
}

.header-sticky.sticky-bar.sticky .sticky-logo img {
	height: 35px;
}

@media (max-width: 767px) {
	.header-sticky.sticky-bar.sticky .title-logo {
		display: none !important
	}
}

@media (max-width: 1204px) {
	.header-sticky.sticky-bar.sticky .title-logo {
		display: none !important
	}
}

.header-sticky.sticky-bar.sticky .title-logo {
	font-size: 10px;
	padding-top: 10px;
	margin-left: -35px;
}

.main-header .main-menu ul li a {
	color: #ecf0f1;
}

.main-header .main-menu ul li:hover>a {
	color: #fff;
	text-shadow: 0 0 1px #ecf0f1;
}

.main-header .main-menu ul ul.submenu {
	/* background-color: #0a68a1; */
	/* border-top:  10px solid #353b48;  */
	position: absolute;
	width: 170px;
	left: 0;
	top: 120%;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
	padding: 0px 0px;
	background-color: #353b48;
	border-top: 5px solid #0a68a1;
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s
}

.main-header .main-menu ul ul.submenu>li {
	margin-left: 0px;
	display: block
	/* padding-left: 7px; */
}

.main-header .main-menu ul ul.submenu>li>a {
	color: #ecf0f1;
	padding: 6px 10px !important;
	font-size: 14px;
	text-transform: capitalize
}

.main-header .main-menu ul ul.submenu>li>a:hover {
	color: #fff;
	background-color: #0a68a1;
}

.main-header ul>li:hover>ul.submenu {
	visibility: visible;
	opacity: 1;
	top: 100%
}

.trending-area .trending-main .trand-right-single .trand-right-cap span {
	color: #ecf0f1;
}

.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap span {
	color: #ecf0f1;
}

.whats-news-area .whats-news-caption .single-what-news .what-cap span, .about-area .whats-news-caption .single-what-news .what-cap span, .contact-section .whats-news-caption .single-what-news .what-cap span {
	color: #ecf0f1;
}

.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-caption span {
	color: #ecf0f1;
}

.color1 {
	background: #0a68a1;
}

.color2 {
	background: #0a68a1;
}

.color3 {
	background: #0a68a1;
}

.color4 {
	background: #0a68a1;
}

.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap h4 a:hover {
	color: #0066fe;
}

.whats-news-area .whats-news-caption .single-what-news .what-cap h4 a:hover, .about-area .whats-news-caption .single-what-news .what-cap h4 a:hover, .contact-section .whats-news-caption .single-what-news .what-cap h4 a:hover {
	color: #0066fe;
}

.weekly2-news-area .weekly2-wrapper .dot-style .slick-active button {
	background: #0066fe;
}

.main-header .main-menu ul li:hover {
	background: #07456b;
	z-index: 99;
	/* transition-delay: 1s; */
	/* delays for 1 second */
	/* -webkit-transition-delay: 1s; */
	/* for Safari & Chrome */
}

.slicknav_menu .slicknav_icon-bar {
	color: #ecf0f1 !important;
}

.main-header .main-menu ul ul.submenu2 {
	position: absolute;
	width: 200px;
	background-color: #353b48;
	left: 171px;
	top: 120%;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
	padding: 0px 0px;
	border-top: 5px solid #0a68a1;
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s
}

.main-header .main-menu ul ul.submenu2>li {
	margin-left: 0px;
	display: block
}

.main-header .main-menu ul ul.submenu2>li>a {
	padding: 6px 10px !important;
	font-size: 14px;
	color: #ecf0f1;
	text-transform: capitalize
}

.main-header .main-menu ul ul.submenu2>li>a:hover {
	color: #fff;
	background-color: #0a68a1;
}

.main-header ul>li:hover>ul.submenu2 {
	visibility: visible;
	opacity: 1;
	top: 30%
}

.whats-news-area .nav-tabs .nav-item.show .nav-link, .whats-news-area .nav-tabs .nav-link.active, .about-area .nav-tabs .nav-item.show .nav-link, .about-area .nav-tabs .nav-link.active, .contact-section .nav-tabs .nav-item.show .nav-link, .contact-section .nav-tabs .nav-link.active {
	color: #0066fe;
}

.trending-area .trending-main .trand-right-single .trand-right-cap h4 a:hover {
	color: #0066fe;
}

.header-area .header-mid .logo img {
	width: 83px;
	height: 100%;
	margin-top: 16px;
}

.header-area .header-mid .logo {
	text-align: right;
}

.header-area .header-mid .header-text p, .header-area .header-mid .header-text, .header-area .header-mid .header-text span {
	color: #ecf0f1;
	font-size: 25px;
}

@media screen and (max-width: 993px) {
	.header-area .header-mid .header-text p, .header-area .header-mid .header-text, .header-area .header-mid .header-text span {
		font-size: 20px;
	}
}

.trending-area .trending-main .trand-right-single .trand-right-img img {
	width: 120px;
	height: 100px;
}

/* .trending-area .trending-main .trand-right-single .trand-right-cap .long-title {
	display: none;
} */

.long-title {
	display: none;
}

.data-list {
	height: 460px;
	width: 310px;
	padding: 10px 20px;
	overflow-y: hidden;
	/* border: 1px solid #222;
	border-radius: 5px; */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.trand-right-cap p {
	font-size: 11px;
	line-height: 21px;
	margin-bottom: 0px
}

.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap p {
	font-size: 13px;
	/* line-height:20px; */
	/* margin-top:2px; */
	float: right;
}

.blog_right_sidebar .search_widget .input-group button {
	background-color: #0a68a1;
}

.boxed-btn {
	color: #0a68a1 !important;
	border-color: #0a68a1;
}

.boxed-btn:hover {
	color: #ecf0f1 !important;
	background-color: #0a68a1;
	border-color: #0a68a1;
}

.footer-area {
	background: #2f3640;
}

.blog_item_img .blog_item_date {
	background-color: #0a68a1;
}

.blog_item_img .blog_item_date a:hover {
	color: #fff;
}

.blog_details a {
	text-align: justify;
}

.blog_details p {
	text-align: justify;
}

.blog_area a:hover, .blog_area a :hover {
	background: -webkit-linear-gradient(131deg, #0a68a1 0%, #0a68a1 99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none;
	transition: .4s
}

.blog_details h2 {
	margin-bottom: 1px
}
.blog-info-link{
	padding: 0px;

}
.blog-info-link li{
	list-style: none;
}
.blog-info-link li a:hover {
	color: #999999
}

.footer-area .footer-social a i:hover {
	color: #0097e6;
}

.footer-area .footer-social a i.fa-youtube:hover {
	color: #c0392b;
}

.footer-area .footer-social a i.fa-instagram:hover {
	color: #FF00AB	;
}

.blog_right_sidebar .tag_cloud_widget ul li a:hover {
	background: #0a68a1;
	color: #fff !important;
}

.collapsible {
	background-color: #f9f9ff;
	color: #888888;
	cursor: pointer;
	padding: 8px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	font-family: "Roboto", sans-serif;
}

.activecollapse, .collapsible:hover {
	background-color: #f1f8fe;
}

.collapsible2 {
	background-color: #f9f9ff;
	color: #888888;
	cursor: pointer;
	padding: 8px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.activecollapse, .collapsible2:hover {
	background-color: #f1f8fe;
}

.collapsible:after {
	content: '\002B';
	color: #007bfe;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.activecollapse:after {
	content: "\2212";
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f7f7f7;
}

.media-body span {
	color: #000;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 500;
	padding: 6px 10px;
	line-height: 1;
	margin-bottom: 3px;
	display: inline-block
}

.blog-pagination .page-item.active .page-link {
	background-color: #0a68a1;
	color: #ecf0f1;
}

.bg-custom-theme {
	background-color: #34495e;
}

.header-area .header-top .header-info-right .header-social li a:hover {
	color: #0097e6;
}

.header-area .header-top .header-info-right .header-social li a:hover{
	
}

.footer-area .footer-social a i {
	color: #ecf0f1;
}

.media-body span {
	color: #ecf0f1;
}

.single-post-area .navigation-area .nav-left .thumb img {
	height: 60px;
	width: 60px;
}

.single-post-area .navigation-area .nav-right .thumb img {
	height: 60px;
	width: 60px;
}

.trending-area .trending-main .trand-right-single .trand-right-cap h4 {
	font-size: 16px;
}

.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-img img {
	height: 158px;
}

.whats-news-area .whats-news-caption .single-what-news .what-img img, .about-area .whats-news-caption .single-what-news .what-img img, .contact-section .whats-news-caption .single-what-news .what-img img {
	height: 229px;
}

.carousel-item p {
	color: #fff;
}

.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-caption {
	text-align: center;
}

.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-caption span {
	visibility: hidden;
}

.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-img {
	text-align: center;
}

.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-img img {
	width: 100px;
	height: 100px;
	border-radius: 6px;
	display: inline;
}

a {
	color: #212529;
	font-weight: bold;
}
.blog-info-link li::after{
	visibility: hidden;
}

/* .blog_area a:hover, .blog_area a :hover {
	background: none;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
	text-decoration: none;
	transition: .4s;
} */