h1, h2, h3, h4, h5, h6 {
	color: #2f3640;
}

.header-area .header-mid {
	padding: 130px 0px;
	background: linear-gradient(to right, rgb(0 0 0 / 86%), rgb(0 0 0 / 52%));
	position: relative;
}

.header-mid-cover {
	width: 100%;
	height: 100%;
	/* background-color: #000; */
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.blog_area a:hover, .blog_area a :hover {
	background: -webkit-linear-gradient(131deg, #0a68a1 0%, #0a68a1 99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none;
	transition: .4s
}

.genric-btn.danger:hover, .genric-btn.danger a :hover, .genric-btn.danger > i:hover {
	color: #f44a40;
	background: #fff;
	-webkit-background-clip: none;
	-webkit-text-fill-color: #f44a40;
	text-decoration: none;
	transition: .4s
}

.section-tittle h3 {
	color: #2f3640;
}

.trending-area .trending-main .row .col-lg-4 .section-tittle h3 {
	margin-bottom: 25px;
}

.header-area .header-bottom {
	background: #0a68a1;
	color: #ecf0f1;
	border-top: none;
}

.header-sticky.sticky-bar.sticky .sticky-logo {
	max-width: 200px;
}

.header-sticky.sticky-bar.sticky .sticky-logo img {
	height: 30px;
	width: 58px;
	margin-top: 3px;
}

@media (max-width: 767px) {
	.header-sticky.sticky-bar.sticky .title-logo {
		display: none !important
	}
}

@media (max-width: 1204px) {
	.header-sticky.sticky-bar.sticky .title-logo {
		display: none !important
	}
}

.header-sticky.sticky-bar.sticky .title-logo {
	padding-top: 12px;
	margin-left: -75px;
}

.header-sticky.sticky-bar.sticky .title-logo p{
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	line-height: 15px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.main-header .main-menu ul li a {
	color: #ecf0f1;
}

.main-header .main-menu ul ul.submenu {
	/* background-color: #0a68a1; */
	/* border-top:  10px solid #353b48;  */
	position: absolute;
	width: 170px;
	left: 0;
	top: 120%;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
	padding: 0px 0px;
	background-color: #353b48;
	border-top: 5px solid #0a68a1;
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s
}

.main-header .main-menu ul ul.submenu>li {
	margin-left: 0px;
	display: block
	/* padding-left: 7px; */
}

.main-header .main-menu ul ul.submenu>li>a {
	color: #ecf0f1;
	padding: 6px 10px !important;
	font-size: 14px;
	text-transform: capitalize
}

.main-header .main-menu ul ul.submenu>li>a:hover {
	color: #fff;
	background-color: #0a68a1;
}

.slicknav_menu .slicknav_nav a:hover {
	color: #0a68a1
}

.main-header ul>li:hover>ul.submenu {
	visibility: visible;
	opacity: 1;
	top: 100%
}

.trending-area .trending-main .trand-right-single .trand-right-cap span {
	color: #ecf0f1;
}

.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap span {
	color: #ecf0f1;
}

.whats-news-area .whats-news-caption .single-what-news .what-cap span, .about-area .whats-news-caption .single-what-news .what-cap span, .contact-section .whats-news-caption .single-what-news .what-cap span {
	color: #ecf0f1;
}

.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-caption span {
	color: #ecf0f1;
}

.color1 {
	background: #0a68a1;
}

.color2 {
	background: #0a68a1;
}

.color3 {
	background: #0a68a1;
}

.color4 {
	background: #0a68a1;
}

.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap h4 a:hover {
	color: #0066fe;
}

.whats-news-area .whats-news-caption .single-what-news .what-cap h4 a:hover, .about-area .whats-news-caption .single-what-news .what-cap h4 a:hover, .contact-section .whats-news-caption .single-what-news .what-cap h4 a:hover {
	color: #0066fe;
}

.weekly2-news-area .weekly2-wrapper .dot-style .slick-active button {
	background: #0066fe;
}

.main-header .main-menu ul li {
	transition: background .5s, color .5s;
}

.main-header .main-menu ul li:hover {
	color: #ecf0f1;
	background: #07456b;
	z-index: 99;
	text-shadow: 0 0 1px #ecf0f1;
}

.slicknav_menu .slicknav_icon-bar {
	color: #ecf0f1 !important;
}

.main-header .main-menu ul ul.submenu2 {
	position: absolute;
	width: 200px;
	background-color: #353b48;
	left: 171px;
	top: 120%;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
	padding: 0px 0px;
	border-top: 5px solid #0a68a1;
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s
}

.main-header .main-menu ul ul.submenu2>li {
	margin-left: 0px;
	display: block
}

.main-header .main-menu ul ul.submenu2>li>a {
	padding: 6px 10px !important;
	font-size: 14px;
	color: #ecf0f1;
	text-transform: capitalize
}

.main-header .main-menu ul ul.submenu2>li>a:hover {
	color: #fff;
	background-color: #0a68a1;
}

.main-header ul>li:hover>ul.submenu2 {
	visibility: visible;
	opacity: 1;
	top: 30%
}

.whats-news-area .nav-tabs .nav-item.show .nav-link, .whats-news-area .nav-tabs .nav-link.active, .about-area .nav-tabs .nav-item.show .nav-link, .about-area .nav-tabs .nav-link.active, .contact-section .nav-tabs .nav-item.show .nav-link, .contact-section .nav-tabs .nav-link.active {
	color: #0066fe;
}

.trending-area .trending-main .trand-right-single .trand-right-cap h4 a:hover {
	color: #0066fe;
}

.header-area .header-mid .logo img {
	width: 83px;
	height: 100%;
	margin-top: 12px;
	margin-bottom: 12px;
}

.header-area .header-mid .logo {
	text-align: right;
}

.header-area .header-mid .header-text p, .header-area .header-mid .header-text, .header-area .header-mid .header-text span {
	color: #ecf0f1;
	font-size: 25px;
}

@media screen and (max-width: 993px) {
	.header-area .header-mid .header-text p, .header-area .header-mid .header-text, .header-area .header-mid .header-text span {
		font-size: 20px;
	}
}

.trending-area .trending-main .trand-right-single .trand-right-img img {
	width: 120px;
	height: 85px;
}

/* .trending-area .trending-main .trand-right-single .trand-right-cap .long-title {
	display: none;
} */

.long-title {
	display: none;
}

.data-list {
	height: 300px;
	width: 370px;
	padding: 10px 20px;
	overflow-y: hidden;
	/* border: 1px solid #222;
	border-radius: 5px; */
}

.data-list2 {
	height: 300px;
	width: 318px;
	padding: 10px 20px;
	overflow-y: hidden;
	/* border: 1px solid #222;
	border-radius: 5px; */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.trand-right-cap p {
	font-size: 11px;
	line-height: 21px;
	margin-bottom: 0px
}

.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap p {
	font-size: 13px;
	/* line-height:20px; */
	/* margin-top:2px; */
	float: right;
}

.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap h4 {
	font-size: 15px;
}

.blog_right_sidebar .search_widget .input-group button {
	background-color: #0a68a1;
}

.boxed-btn {
	color: #0a68a1 !important;
	border-color: #0a68a1;
}

.boxed-btn:hover {
	color: #ecf0f1 !important;
	background-color: #0a68a1;
	border-color: #0a68a1;
}

.footer-area {
	background: #2f3640;
}

.blog_item_img .blog_item_date {
	background-color: #0a68a1;
}

.blog_item_img .blog_item_date a:hover {
	color: #fff;
}

.blog_details a {
	text-align: justify;
}

.blog_details a {
	color: grey;
}

.blog_details a:hover {
	color: #0a68a1;
}

.blog_details p {
	text-align: justify;
}

.blog_details h2 {
	margin-bottom: 1px;
	text-align: justify-all;
}

.blog-info-link {
	padding: 0px;
}

.blog-info-link li {
	list-style: none;
}

.blog-info-link li a:hover {
	color: #999999
}

.footer-area .footer-social a i:hover {
	color: white;
}

.footer-area .footer-social a i.fa-twitter:hover {
	color: #1DA1F2;
}

.footer-area .footer-social a i.fa-facebook:hover {
	color: #4267B2;
}

.footer-area .footer-social a i.fa-instagram:hover {
	color: #FF00AB;
}

.blog_right_sidebar .tag_cloud_widget ul li a:hover {
	background: #0a68a1;
	color: #fff !important;
}

.collapsible {
	background-color: #f9f9ff;
	color: #888888;
	cursor: pointer;
	padding: 8px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	font-family: "Roboto", sans-serif;
}

.activecollapse, .collapsible:hover {
	background-color: #f1f8fe;
}

.collapsible2 {
	background-color: #f9f9ff;
	color: #888888;
	cursor: pointer;
	padding: 8px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.activecollapse, .collapsible2:hover {
	background-color: #f1f8fe;
}

.collapsible:after {
	content: '\002B';
	color: #007bfe;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.activecollapse:after {
	content: "\2212";
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f7f7f7;
}

.media-body span {
	color: #000;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 500;
	padding: 6px 10px;
	line-height: 1;
	margin-bottom: 3px;
	display: inline-block
}

.blog-pagination .page-item.active .page-link {
	background-color: #0a68a1;
	color: #ecf0f1;
}

.bg-custom-theme {
	background-color: #154c79;
}

.header-area .header-top .header-info-right .header-social li a:hover {
	color: white;
}

.header-area .header-top .header-info-right .header-social a i.fa-twitter:hover {
	color: #1DA1F2;
}

.header-area .header-top .header-info-right .header-social a i.fa-instagram:hover {
	color: #FF00AB;
}

.header-area .header-top .header-info-right .header-social a i.fa-facebook:hover {
	color: #4267B2;
}


.footer-area .footer-social a i {
	color: #ecf0f1;
}

.media-body span {
	color: #ecf0f1;
}

.single-post-area .navigation-area .nav-left .thumb img {
	height: 60px;
	width: 60px;
}

.single-post-area .navigation-area .nav-right .thumb img {
	height: 60px;
	width: 60px;
}

.trending-area .trending-main .trand-right-single .trand-right-cap h4 {
	font-size: 15px;
	text-align: justify-all;
}

.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-img img {
	height: 158px;
}

.whats-news-area .whats-news-caption .single-what-news .what-img img, .about-area .whats-news-caption .single-what-news .what-img img, .contact-section .whats-news-caption .single-what-news .what-img img {
	height: 270px;
}

.carousel-item p {
	color: #fff;
}

.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-caption {
	text-align: center;
}

.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-caption span {
	visibility: hidden;
}

.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-img {
	text-align: center;
}

.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-img img {
	width: 100px;
	height: 100px;
	border-radius: 6px;
	display: inline;
}

a {
	color: #212529;
	font-weight: bold;
}

.blog-info-link li::after {
	visibility: hidden;
}

.tombolcari {
	background-color: #0a68a1;
	padding-right: 15px;
	padding-left: 15px;
	cursor: pointer;
	border: none;
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th {
	background-color: #F2faff;
}

.table-striped>thead>tr {
	background-color: #1a8ac1;
	color: white;
	/* text-align: center; */
}

.whats-news-area .news-poster img, .about-area .news-poster img, .contact-section .news-poster img {
	padding: 0px;
}

.news-poster a:hover {
	color: #1a8ac1;
}

.ytb-row img.img-fluid {
	transition: opacity .5s;
}

.ytb-row img.img-fluid:hover {
	opacity: 0.5;
}

.trending-area .trending-main .trending-top .trend-top-img img {
	height: 500px;
}

.trending-area .trending-main .trending-top .trend-top-img .trend-top-cap {
	bottom: 1px;
	left: 25px;
	text-align: justify-all;
	right: 25px;
}

.trending-area .trending-main .trending-top .trend-top-img .trend-top-cap p {
	font-size: 15px;
	line-height: 25px;
}

.trending-area .trending-main .trending-top .trend-top-img .trend-top-cap h2 {
	font-size: 23px;	
}

.blog_right_sidebar .popular_post_widget .post_item img {
	height: 60px;
	width:75px;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
	font-size: 14px;
}

.single-post .feature-img img{
	width: 100%;
	height: 100%;
}

.single-post li{
	text-align: justify-all;
}

.blog_area .blog_details .single-post table{
	text-transform: uppercase;
}

.blog_area .blog_details .row .col-md-4 img{
	height: 160px;
}

@media only screen and (min-width: 300px) and (max-width: 350px) {
	.trending-area .trending-main .row .col-lg-4 .data-list {
		width: 300px;
	}

	.blog_item_img .blog_item_date h3{
		text-align: center;
		font-size: 16px;
	}

	.blog_item_img .blog_item_date p{
		font-size: 17px;
	}

	.data-list2 {
		width: 285px;
	}

	.trending-area .trending-main .trending-top .trend-top-img img {
		height: 225px;
	}

	.header-sticky.sticky-bar.sticky .title-logo{
		display: block !important;
		margin-right: 90px;
		margin-bottom: 0px;
		line-height: 18px;
	}

	.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-img img {
		height: 240px;
	}


	.whats-news-area .whats-news-caption .single-what-news .what-img img, .about-area .whats-news-caption .single-what-news .what-img img, .contact-section .whats-news-caption .single-what-news .what-img img {
		height: 240px;
	}

	.footer-area .footer-tittle iframe {
		width: 290px;
		height: 300px;
	}

	.blog_item_img img{
		height: 240px;
	}

	.blog_right_sidebar .popular_post_widget .post_item img {
		height: 60px;
	}

	.single-post .feature-img img{
		width: 100%;
		height: 100%;
	}

	.single-post .blog_details p{
		font-size: 12px;
	}

	.single-post-area .navigation-top .social-icons li {
		margin-left: -45px;
	}

	.blog_left_sidebar embed{
		width: 330px;
		height: 230px;
	}

	.blog_left_sidebar video{
		width: 330px;
		height: 230px;
	}

	.trending-area .trending-main .trending-top .trend-top-img .trend-top-cap h2 {
		font-size: 15px;
		text-align: center;
		
	}

	.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap h4 {
		font-size: 14px;
		text-align: justify-all;
	}

	.trending-area .trending-main .trand-right-single .trand-right-cap h4 {
		font-size: 13px;
		text-align: justify-all;
	}

	.whats-news-area .whats-news-caption .single-what-news .what-cap h4 a,
	.about-area .whats-news-caption .single-what-news .what-cap h4 a,
	.contact-section .whats-news-caption .single-what-news .what-cap h4 a {
	font-size: 14px;
	font-weight: 450;
	}

	.blog_area .blog_details .row .col-md-4 img{
		height: 180px;
	}

	.blog_area .col-lg-8 .col-md-4 video{
		height: 180px;
		width: 330px;
	}
}

@media only screen and (min-width: 540px) and (max-width: 630px) {
	.trending-area .trending-main .row .col-lg-4 .data-list {
		width: 510px;
	}
	.trending-area .trending-main .row .col-lg-4 .carousel-item img {
		height: 280px;
	}


	.blog_item_img .blog_item_date h3{
		text-align: center;
		font-size: 16px;
	}

	.blog_item_img .blog_item_date p{
		font-size: 17px;
	}

	.data-list2 {
		width: 285px;
	}

	.trending-area .trending-main .trending-top .trend-top-img img {
		height: 350px;
	}

	.header-sticky.sticky-bar.sticky .title-logo{
		display: block !important;
		margin-right: 310px;
		margin-bottom: 0px;
		line-height: 18px;
	}

	.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-img img {
		height: 350px;
	}


	.whats-news-area .whats-news-caption .single-what-news .what-img img, .about-area .whats-news-caption .single-what-news .what-img img, .contact-section .whats-news-caption .single-what-news .what-img img {
		height: 350px;
	}

	.footer-area .footer-tittle iframe {
		width: 510px;
		height: 330px;
	}

	.blog_item_img img{
		height: 240px;
	}

	.blog_right_sidebar .popular_post_widget .post_item img {
		height: 60px;
	}

	.single-post .feature-img img{
		width: 100%;
		height: 100%;
	}

	.single-post .blog_details p{
		font-size: 12px;
	}

	.single-post-area .navigation-top .social-icons li {
		margin-left: -45px;
	}

	.blog_left_sidebar embed{
		width: 330px;
		height: 230px;
	}

	.blog_left_sidebar video{
		width: 330px;
		height: 230px;
	}

	.trending-area .trending-main .trending-top .trend-top-img .trend-top-cap h2 {
		font-size: 15px;
		text-align: center;
		
	}

	.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap h4 {
		font-size: 14px;
		text-align: justify-all;
	}

	.trending-area .trending-main .trand-right-single .trand-right-cap h4 {
		font-size: 13px;
		text-align: justify-all;
	}

	.whats-news-area .whats-news-caption .single-what-news .what-cap h4 a,
	.about-area .whats-news-caption .single-what-news .what-cap h4 a,
	.contact-section .whats-news-caption .single-what-news .what-cap h4 a {
	font-size: 14px;
	font-weight: 450;
	}

	.blog_area .blog_details .row .col-md-4 img{
		height: 180px;
	}

	.blog_area .col-lg-8 .col-md-4 video{
		height: 180px;
		width: 330px;
	}
}

@media only screen and (min-width: 410px) and (max-width: 500px) {
	.trending-area .trending-main .row .col-lg-4 .data-list {
		width: 390px;
	}

	.blog_item_img .blog_item_date h3{
		text-align: center;
		font-size: 16px;
	}

	.blog_item_img .blog_item_date p{
		font-size: 17px;
	}

	.data-list2 {
		width: 285px;
	}

	.trending-area .trending-main .trending-top .trend-top-img img {
		height: 240px;
	}

	.header-sticky.sticky-bar.sticky .title-logo{
		display: block !important;
		margin-right: 180px;
		margin-bottom: 0px;
		line-height: 18px;
	}

	.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-img img {
		height: 240px;
	}


	.whats-news-area .whats-news-caption .single-what-news .what-img img, .about-area .whats-news-caption .single-what-news .what-img img, .contact-section .whats-news-caption .single-what-news .what-img img {
		height: 240px;
	}

	.footer-area .footer-tittle iframe {
		width: 382px;
		height: 330px;
	}

	.blog_item_img img{
		height: 240px;
	}

	.blog_right_sidebar .popular_post_widget .post_item img {
		height: 60px;
	}

	.single-post .feature-img img{
		width: 100%;
		height: 100%;
	}

	.single-post .blog_details p{
		font-size: 12px;
	}

	.single-post-area .navigation-top .social-icons li {
		margin-left: -45px;
	}

	.blog_left_sidebar embed{
		width: 330px;
		height: 230px;
	}

	.blog_left_sidebar video{
		width: 330px;
		height: 230px;
	}

	.trending-area .trending-main .trending-top .trend-top-img .trend-top-cap h2 {
		font-size: 15px;
		text-align: center;
		
	}

	.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap h4 {
		font-size: 14px;
		text-align: justify-all;
	}

	.trending-area .trending-main .trand-right-single .trand-right-cap h4 {
		font-size: 13px;
		text-align: justify-all;
	}

	.whats-news-area .whats-news-caption .single-what-news .what-cap h4 a,
	.about-area .whats-news-caption .single-what-news .what-cap h4 a,
	.contact-section .whats-news-caption .single-what-news .what-cap h4 a {
	font-size: 14px;
	font-weight: 450;
	}

	.blog_area .blog_details .row .col-md-4 img{
		height: 180px;
	}

	.blog_area .col-lg-8 .col-md-4 video{
		height: 180px;
		width: 330px;
	}
}


@media only screen and (min-width: 360px) and (max-width: 370px) {
	.trending-area .trending-main .row .col-lg-4 .data-list {
		width: 330px;
	}

	.blog_item_img .blog_item_date h3{
		text-align: center;
		font-size: 16px;
	}

	.blog_item_img .blog_item_date p{
		font-size: 17px;
	}

	.data-list2 {
		width: 285px;
	}

	.trending-area .trending-main .trending-top .trend-top-img img {
		height: 240px;
	}

	.header-sticky.sticky-bar.sticky .title-logo{
		display: block !important;
		margin-right: 130px;
		margin-bottom: 0px;
		line-height: 18px;
	}

	.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-img img {
		height: 240px;
	}


	.whats-news-area .whats-news-caption .single-what-news .what-img img, .about-area .whats-news-caption .single-what-news .what-img img, .contact-section .whats-news-caption .single-what-news .what-img img {
		height: 240px;
	}

	.footer-area .footer-tittle iframe {
		width: 330px;
		height: 330px;
	}

	.blog_item_img img{
		height: 240px;
	}

	.blog_right_sidebar .popular_post_widget .post_item img {
		height: 60px;
	}

	.single-post .feature-img img{
		width: 100%;
		height: 100%;
	}

	.single-post .blog_details p{
		font-size: 12px;
	}

	.single-post-area .navigation-top .social-icons li {
		margin-left: -45px;
	}

	.blog_left_sidebar embed{
		width: 330px;
		height: 230px;
	}

	.blog_left_sidebar video{
		width: 330px;
		height: 230px;
	}

	.trending-area .trending-main .trending-top .trend-top-img .trend-top-cap h2 {
		font-size: 15px;
		text-align: center;
		
	}

	.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap h4 {
		font-size: 14px;
		text-align: justify-all;
	}

	.trending-area .trending-main .trand-right-single .trand-right-cap h4 {
		font-size: 13px;
		text-align: justify-all;
	}

	.whats-news-area .whats-news-caption .single-what-news .what-cap h4 a,
	.about-area .whats-news-caption .single-what-news .what-cap h4 a,
	.contact-section .whats-news-caption .single-what-news .what-cap h4 a {
	font-size: 14px;
	font-weight: 450;
	}

	.blog_area .blog_details .row .col-md-4 img{
		height: 180px;
	}

	.blog_area .col-lg-8 .col-md-4 video{
		height: 180px;
		width: 330px;
	}
}

@media only screen and (min-width: 375px) and (max-width: 400px) {
	.trending-area .trending-main .row .col-lg-4 .data-list {
		width: 350px;
	}

	.blog_item_img .blog_item_date h3{
		text-align: center;
		font-size: 16px;
	}

	.blog_item_img .blog_item_date p{
		font-size: 17px;
	}

	.data-list2 {
		width: 285px;
	}

	.trending-area .trending-main .trending-top .trend-top-img img {
		height: 240px;
	}

	.header-sticky.sticky-bar.sticky .title-logo{
		display: block !important;
		margin-right: 145px;
		margin-bottom: 0px;
		line-height: 18px;
	}

	.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-img img {
		height: 240px;
	}


	.whats-news-area .whats-news-caption .single-what-news .what-img img, .about-area .whats-news-caption .single-what-news .what-img img, .contact-section .whats-news-caption .single-what-news .what-img img {
		height: 240px;
	}

	.footer-area .footer-tittle iframe {
		width: 345px;
		height: 310px;
	}

	.blog_item_img img{
		height: 240px;
	}

	.blog_right_sidebar .popular_post_widget .post_item img {
		height: 60px;
	}

	.single-post .feature-img img{
		width: 100%;
		height: 100%;
	}

	.single-post .blog_details p{
		font-size: 12px;
	}

	.single-post-area .navigation-top .social-icons li {
		margin-left: -45px;
	}

	.blog_left_sidebar embed{
		width: 330px;
		height: 230px;
	}

	.blog_left_sidebar video{
		width: 330px;
		height: 230px;
	}

	.trending-area .trending-main .trending-top .trend-top-img .trend-top-cap h2 {
		font-size: 15px;
		text-align: center;
		
	}

	.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap h4 {
		font-size: 14px;
		text-align: justify-all;
	}

	.trending-area .trending-main .trand-right-single .trand-right-cap h4 {
		font-size: 13px;
		text-align: justify-all;
	}

	.whats-news-area .whats-news-caption .single-what-news .what-cap h4 a,
	.about-area .whats-news-caption .single-what-news .what-cap h4 a,
	.contact-section .whats-news-caption .single-what-news .what-cap h4 a {
	font-size: 14px;
	font-weight: 450;
	}

	.blog_area .blog_details .row .col-md-4 img{
		height: 180px;
	}

	.blog_area .col-lg-8 .col-md-4 video{
		height: 180px;
		width: 330px;
	}
}

@media only screen and (min-width: 640px) and (max-width: 750px){
	.trending-area .trending-main .row .col-lg-4 .data-list {
		width: 520px;
	}

	.trending-area .trending-main .trand-right-single .trand-right-img img {
		margin: 5px 0px;
	}

	.trending-area .trending-main .row .col-lg-4 .carousel-item img {
		height: 260px;
	}

	.blog_item_img .blog_item_date h3{
		text-align: center;
		font-size: 16px;
	}

	.blog_item_img .blog_item_date p{
		font-size: 17px;
	}

	.data-list2 {
		width: 520px;
	}

	.trending-area .trending-main .trending-top .trend-top-img img {
		height: 350px;
	}

	.header-sticky.sticky-bar.sticky .title-logo{
		display: block !important;
		margin-right: 310px;
		margin-bottom: 0px;
		line-height: 18px;
	}

	.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-img img {
		height: 350px;
	}


	.whats-news-area .whats-news-caption .single-what-news .what-img img, .about-area .whats-news-caption .single-what-news .what-img img, .contact-section .whats-news-caption .single-what-news .what-img img {
		height: 350px;
	}

	.footer-area .footer-tittle iframe {
		width: 300px;
		height: 220px;
		
	}

	.footer-area .pengunjung {
		margin-left: 60px;		
	}

	.blog_item_img img{
		height: 350px;
	}

	.blog_right_sidebar .popular_post_widget .post_item img {
		height: 60px;
	}

	.single-post .feature-img img{
		width: 100%;
		height: 100%;
	}

	.single-post .blog_details p{
		font-size: 12px;
	}

	.blog_left_sidebar embed{
		width: 520px;
		height: 250px;
	}

	.blog_left_sidebar video{
		width: 520px;
		height: 250px;
	}

	.trending-area .trending-main .trending-top .trend-top-img .trend-top-cap h2 {
		font-size: 17px;
		text-align: center;
		
	}

	.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap h4 {
		font-size: 15px;
		text-align: justify-all;
	}

	.trending-area .trending-main .trand-right-single .trand-right-cap h4 {
		font-size: 14px;
		text-align: justify-all;
	}

	.whats-news-area .whats-news-caption .single-what-news .what-cap h4 a,
	.about-area .whats-news-caption .single-what-news .what-cap h4 a,
	.contact-section .whats-news-caption .single-what-news .what-cap h4 a {
	font-size: 15px;
	font-weight: 450;
	}

	.blog_area .blog_details .row .col-md-4 img{
		height: 350px;
		margin-bottom: 10px;
	}

	.blog_area .blog_details .row .col-md-4 p{
		font-size: 15px;
	}

	.blog_area .col-lg-8 .col-md-4 video{
		height: 250px;
		width: 520px;
	}
}

@media (max-width: 767px) {
	.trending-area .trending-main .row .col-lg-4 .carousel-indicators {
		z-index: 1;
	}

	.section-padding {
		padding-top: 35px;
	}

	.whats-news-area .whats-news-caption .single-what-news .what-cap,
	.about-area .whats-news-caption .single-what-news .what-cap,
	.contact-section .whats-news-caption .single-what-news .what-cap {
	padding: 10px 10px 1px 10px;
	}

	.whats-news-area .whats-news-caption .single-what-news .what-cap span,
	.about-area .whats-news-caption .single-what-news .what-cap span,
	.contact-section .whats-news-caption .single-what-news .what-cap span {

	font-size: 10px;
	padding: 8px 13px;
	}

	.sticky-logo{
		float: left;
	}

	.sticky-logo.info-open img{
		width: 67px;
		height: 35px;
	}

	.sticky-logo p {
		color: white;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 0px;
		margin-top: 2px;
		margin-left: -5px;
		/* display: none !important; */
	}

	.trending-area .trending-main .trending-top .trend-top-img .trend-top-cap p {
		display: none !important;
	}

	.trending-area .trending-main .trending-tittle .trending-animated a {
		font-size: 13px;
	}

	.blog_details h2 {
		margin-bottom: 1px;
		font-size: 15px;
		margin-left: 10px;
		margin-right: 15px;
		line-height: 25px;
	}

	.blog_details p {
		font-size: 13px;
		margin-left: 10px;
		margin-right: 15px;
		line-height: 23px;
	}

	.blog-info-link li {
		margin-left: 10px;
		font-size: 12px;
	}

	.blog_right_sidebar .popular_post_widget .post_item .media-body {
		padding-left: 10px
	}

	.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
		font-size: 13px;
	}

	.hover-show a h6 {
		font-size: 14px;
	}

	
}